wardensmp.lolma.us {
	reverse_proxy minetrax:80
}

wardensmp-admin.lolma.us {
	reverse_proxy https://crafty:8443 {
		transport http {
			tls_insecure_skip_verify
			versions 1.1
		}

		header_up Host {host}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-For {remote_host}
		header_up Upgrade {http.request.header.Upgrade}
		header_up Connection {http.request.header.Connection}

		flush_interval -1
	}
}

wardensmp-map.lolma.us {
	reverse_proxy http://crafty:8100
}