wardensmp-admin.lolma.us {
	reverse_proxy https://crafty:8443 {
		transport http {
			tls
			tls_insecure_skip_verify
			versions 1.1
		}

		header_up Upgrade websocket
		header_up Connection Upgrade
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-For {remote}
		header_up Host {host}
	}
}