APP_NAME="{{ minetrax_app_name }}"
APP_ENV=production
APP_KEY={{ minetrax_app_key }}
APP_LOCALE=en
AVAILABLE_LOCALES=en,ru
APP_THEME=default
APP_DEBUG=false
DEBUGBAR_ENABLED=false
TELESCOPE_ENABLED=false
APP_URL=https://{{ domains.website }}

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=database
SESSION_LIFETIME=120
IMAGE_CACHE_DRIVER=file

LOG_CHANNEL=stack
LOG_LEVEL=debug

RANDOM_USER_AVATARS=true
DISABLE_USER_REGISTRATION=false
DISABLE_EMAIL_PASSWORD_AUTH=false
VERIFY_USER_EMAIL=false
ENFORCE_2FA_FOR_STAFF=false

PLAYER_SKIN_CHANGER_ENABLED=true
PLAYER_SKIN_CHANGER_COOLDOWN_IN_SECONDS=60
HIDE_COUNTRY_FOR_PRIVACY=false
HIDE_PLAYER_NEXT_RANK=false

COOKIE_CONSENT_ENABLED=true
ASKDB_ENABLED=false
AI_ENABLED=false

BACKUP_ENABLED=true
BACKUP_APP_NAME="{{ minetrax_app_name }}-backup"
BACKUP_DISK=local
BACKUP_ARCHIVE_PASSWORD=null

PING_PROXY_SERVER_USING_IP_ADDRESS=true
QUERY_PROXY_SERVER_USING_IP_ADDRESS=true

SHOW_POWERED_BY=true
SHOW_HOME_BUTTON=false

BROADCAST_DRIVER=null

GEOLOCATION_DRIVER=maxmind_database
MARK_USER_VERIFYED_ON_ACCOUNT_LINK=true
DISABLE_PLAYER_UNLINKING=false
USE_USERNAME_FOR_SKINS=false

FILESYSTEM_DISK=local
MEDIA_DISK=media
PROFILE_PHOTO_DISK=public
DOWNLOADS_MODULE_DISK=download
SETTINGS_CACHE_ENABLED=true

DB_CONNECTION=mysql
DB_HOST=minetrax-mysql
DB_PORT=3306
DB_DATABASE={{ minetrax_db_name }}
DB_USERNAME={{ minetrax_db_user }}
DB_PASSWORD={{ minetrax_db_password }}

REDIS_CLIENT=phpredis
REDIS_HOST=minetrax-redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=sendmail
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=no-reply@{{ domains.website }}
MAIL_FROM_NAME="{{ minetrax_app_name }}"

BANWARDEN_ENABLED=true
BANWARDEN_AI_INSIGHTS_ENABLED=false
BANWARDEN_SHOW_PUBLIC=true
BANWARDEN_SHOW_MASKED_IP_PUBLIC=false
BANWARDEN_MODULE_DISK=private
BANWARDEN_EVIDENCE_MAX_COUNT=2
BANWARDEN_EVIDENCE_ALLOWED_MIMETYPES=jpg,png,gif,bmp,webp,mp4,avi,mov,mkv,webm,zip,rar
BANWARDEN_EVIDENCE_MAX_SIZE_KB=51200
BANWARDEN_ALLOW_CONTROL_FROM_WEB=true

NIGHTWATCH_ENABLED=false
